source https://nuget.org/api/v2
nuget Baseline 0.5.1-alpha-24 -pre
nuget HtmlTags
nuget Newtonsoft.Json
nuget Nowin
nuget NSubstitute
nuget Shouldly
nuget Storyteller 3.0.0.322-rc -pre
nuget xunit
nuget xunit.runner.console