
:root {
    --vp-c-brand: #4db6ac;
    --vp-c-brand-light: #81e8dd;
    --vp-c-brand-dark: #00857c;
    --vp-home-hero-name-color: var(--vp-c-brand); 
    --vp-button-brand-bg: var(--vp-c-brand);
    --vp-button-brand-border: #81e8dd;
    --vp-button-brand-hover-border: var(--vp-button-brand-border);
    --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  }