
:root {
    --vp-c-brand: #1E88E5;
    --vp-c-brand-light: #42A5F5;
    --vp-c-brand-dark: #1565C0;
    --vp-home-hero-name-color: var(--vp-c-brand); 
    --vp-button-brand-bg: var(--vp-c-brand);
    --vp-button-brand-border: #42A5F5;
    --vp-button-brand-hover-border: var(--vp-button-brand-border);
    --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  }